---
import Layout from "layouts/Layout.astro";
import { Expeirences_CV, Education_CV } from "utils";
---

<Layout>
  <main
    class="lg:p-42 md:p-32 p-8 md:pt-48 lg:pt-48 sm:pt-48 pt-48 flex flex-col gap-28"
  >
    <h1 class="font-semibold text-4xl text-black">Sohyeon Oh</h1>
    <section class="flex gap-16">
      <h2 class="text-lg font-medium">EXPERIENCE</h2>
      <div>
        {
          Expeirences_CV.map((exp, index) => (
            <article class={`${index < Expeirences_CV.length - 1 && "mb-24"}`}>
              <div class={`tracking-tight flex items-center justify-between`}>
                <div>
                  <p class="font-semibold text-lg inline">{exp.company}</p> ㅡㅡ
                  <span class="text-sm font-light">{exp.position}</span>
                </div>
                <p class=" text-sm font-normal">
                  {exp.startDate} - {exp.endDate}
                </p>
              </div>

              <p class="mt-3 tracking-tight text-gray-500 font-light text-xs">
                {exp.where}
              </p>

              <p class="tracking-tight text-sm text-gray-500 my-3">
                {exp.companyDescription}
              </p>

              <ul class="marker:text-green-600 list-disc pl-6">
                {exp.bullets.map((bullet) => (
                  <li class="pl-1 text-sm pb-3">{bullet}</li>
                ))}
              </ul>
            </article>
          ))
        }
      </div>
    </section>

    <section class="flex gap-16">
      <h2 class="md:text-lg text-md font-medium">EDUCATION</h2>
      <article class="w-screen">
        <div class={` flex items-center justify-between`}>
          <h3 class="font-semibold text-xl inline">{Education_CV.title}</h3>
          <p class="text-sm font-normal">
            {Education_CV.startDate} - {Education_CV.endDate}
          </p>
        </div>
        <p class="mt-3 tracking-tight text-gray-500 font-light text-xs">
          {Education_CV.where}
        </p>
        <p class="tracking-tight text-sm text-gray-500 my-3">
          {Education_CV.org}
        </p>
      </article>
    </section>
  </main>
</Layout>
